#dlgExportPreview {
	width: 720px;
	margin: 20px 1% 20px 1%;
}

#ButtonArray {
	margin: 1em 0em 0em 0em;
}

.Dialog .Body FIELDSET {
	float: none;
}

.Dialog .Body DIV.FormControl LABEL {
	width: 6em;
}

